@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-roboto); /* Default body font */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat); /* Headings font */
  font-weight: 700; /* Ensure headings are bold */
}

button, input, select, textarea, .btn {
  font-family: var(--font-poppins); /* UI elements font */
  font-weight: 400; /* Regular weight for UI elements */
}

/* Additional styles for accessibility and design consistency */
p, span, a, li {
  font-family: var(--font-roboto); /* Ensure readability for body text */
}

strong, b {
  font-weight: 700; /* Bold text using Roboto's bold weight */
}

